{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<div class="container clearfix">
    <div class="row">
    <div class="col-2"></div>
    <div class="col">
    <h1 class="my-5">Modification du mot de passe !</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary float-right mt-2" type="submit"><i class="fa fa-check"></i> Enregistrer les modifications</button>
    {{ form_end(form) }}
</div>
    <div class="col-2"></div>
</div>
</div>

{% endblock %}