<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SymBnb - {% block title %}Welcome!{% endblock %}</title>

    {# width=device-width :  la taille du site doit etre au maximum la taille de l'appareil utilisé pour afficher le site
    user-scalable=no : l'utilisateur ne zoom pas sur cette page #}
<meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common0.css" />
    
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
   
{% include "/admin/partials/header.html.twig" %}

    {% block body %}{% endblock %}

    {% include "/admin/partials/footer.html.twig" %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
