@import url("./bootstrap.min.css");

div.container,
div.container-fluid {
  margin-top: 20px;
}

//  bug bizarre dans firefox, si je met comme nom "ad-title" ca ne marche pas, la div ayant la classe ad-title
// n'apparait pas. Mais si je mets ad-title1, ca fonctione... !!!
div.ad-title1 {
  padding: 2em;
  background-size: cover;
  background-position: center;

  h1,
  p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

  .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

div.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
  max-height: 128px;
  max-width: 128px;
  border-radius: 50%;

  &.avatar-medium {
    max-width: 64px;
    max-height: 64px;
  }

  &.avatar-mini {
    max-width: 30px;
    max-height: 30px;
  }

  &.avatar-micro {
    max-width: 24px;
    max-height: 24px;
  }
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: firebrick !important;
}

span.rating i {
  color: goldenrod;
}

.alert {
  a {
    text-decoration: none;
  }

  .btn {
    color: white;
  }
}

.th-2btn {
  width: 140px;
}
