{% extends "base.html.twig" %} 

{% block title %}Page non trouvée{% endblock title %} 

{% block body %}

<!-- https://127.0.0.1:8000/_error/404 -->

<div class="container">
    
     <h1>Oupss, la page n'existe pas</h1>
     <br>
     <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
     <a href="{{ path('ads_index') }}" class="btn btn-success">Nos annonces</a>
  
  </div>

{% endblock body %}